extends layout

block variables
	- title = 'Dashboard'
	
append styles
	link(rel='stylesheet' href='/stylesheets/clubs.css' type='text/css')
	style.
		#withdrawinput{
			width: 400px;
			margin: 5px;
			padding: 2px;
		}
		.withdraw{
			text-align: center;
			margin-bottom: 30px;
		}

append content
	.row.no-gutters
		.col-lg
			h2 Your Page
			if (!club)
				.clubcontainer
					p You have not created a page for your club yet.
					a(href='dashboard/edit')
						button.bigbutton Create page
				
			else
				.clubcontainer
					.text-center
						a(href='dashboard/edit')
							button.bigbutton.leftbutton Edit
						a(href='../clubs/' + club.username)
							button.bigbutton View
					hr
					h1= club.name
					p.gray.shrink= club.username
					p.gray.shrink= 'Tags: ' + club.tags.replace(/,/g, ', ')
					p.gray.shrink= 'Officers: ' + club.officers.replace(/,/g, ', ')
					p.gray.shrink= 'Meeting dates: ' + club.meetingdates
					hr
					.quillcontent !{club.description}
		.col-lg
			h2 Engagement
			if (!club)
				.clubcontainer
					p Once you create a club, you will be able to see its engagement statistics here
			else
				.clubcontainer
					.row
						.col
							h4 Last Month
							hr
							p.gray= 'Total Views: ' + engagement.last.total
							p.gray= 'Unique Viewers: ' + engagement.last.unique
						.col
							h4 Month to Date
							hr
							p.gray= 'Total Views: ' + engagement.current.total
							p.gray= 'Unique Viewers: ' + engagement.current.unique
				- console.log(engagement);
	if (club)
		hr
		.balance
			h2= 'Your Balance: $' + club.balance
			p.text-center 
				| Each month, you will receive money based on how many people view your page. You can send that money to a PayPal account here. 
				| Input the email associated with your PayPal account below.
			.withdraw
				input(type='text', placeholder='PayPal Email')#withdrawinput
				br
				button(disabled=!club.balance).bigbutton#withdraw Withdraw

append scripts
	script(src='/javascripts/dashboard.js')
			
